/*  your css code here. If applicable */
table {
	border: 1px solid orange;
	border-width : 0px 0px 1px 1px;
}

table th {
	background-color: #888888;
	color: white;
}

table th, td {
	text-aligned: center;
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	padding: 3px 5px;
	border-color: rgb(255, 165, 0)
}

tr sub-total-row, sub-total-text {
	text-align: right;
}